@mixin displayFlex($gap, $wrap: nowrap, $direction: null, $align: null, $justify: null) {
  display: flex;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
  gap: $gap;
  justify-content: $justify;
}

@mixin displayGrid($rows, $cols) {
  display: grid;
  grid-template-rows: repeat($rows, 1fr);
  grid-template-columns: repeat($cols, 1fr);
}

@mixin jelloDisplay() {
  max-width: 1400px;
  margin: auto;
}

@mixin resetLink($color) {
  color: $color;
  font-family: inherit;
  text-decoration: none;
}

@mixin resetList() {
  list-style: none;
}

@mixin imageCoverCenter() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin icon($color, $size) {
  color: $color;
  cursor: pointer;
  font-size: $size;
}

@mixin transitionAll($duration) {
  transition: all $duration cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@mixin boxShadowInset($color) {
  box-shadow: inset 0px -2px 0px 0px $color;
}
